body {
  margin: 0;
  color: white;
  background-color: black;
  /* font-family: fantasy; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
div#root {
background-image:
  url("https://images.unsplash.com/photo-1554153499-bf906ed1f830?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2550&q=80");
  margin-bottom: 3%;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 15%;
  border-top: yellow;
  border: solid;
  /* background-blend-mode: darken; */
  position: sticky;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: row;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin-bottom: 2%;
}

textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 2%;
}

button {
  margin-bottom: 1%;
  border-radius: 9%;
  padding: 1%;
  width: 19em;
  color: black;
  font-weight: 900;
  background-color: yellow;
  font-family:monospace;
  cursor: pointer;
  transition: ease-in all .5s;
}

button:hover {
  background-color: black;
  color: yellow;
  cursor: pointer;
  transform:scale(1.02);
}

img {
  /* margin-top: -2.23%;
  padding-bottom: 49px;
  padding-top: 0; */
  width: 100%;
}

h2 {
  color: yellow;
  font-family: cursive;
}

h1 {
  color: yellow;
  /* padding-top: -20%; */
}

/* div#padding {
 padding-bottom: 0px;
} */

#title {
  padding-top: -100px;
}

div.row{
width: 100%;
}

.card{
  display: inline-block;
  border: solid 2px;
  border-color: white;
  border-radius: 20px;
  padding: 10px 0 0 0;
  margin: 0 0 10px 0;
  transition: all ease 0.5s;
  /* background-color: white; */
  color: white;
  text-align: center;
}
  .card:hover{
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    /* color: white; */
    opacity: 0.75;
    color: white;
    /* font-weight: 700; */
  }

.container-fluid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}